<h1 mat-dialog-title>{{data.signup.name}}</h1>

<mat-dialog-content >
  <table>
    <tr>
      <th>Mail</th>
      <td><a [href]="'mailto:'+data.signup.email">{{data.signup.email}}</a></td>
    </tr>
    <tr>
      <th>Call</th>
      <td><a [href]="'tel:'+data.signup.mobile">{{data.signup.mobile}}</a></td>
    </tr>
    <tr>
      <th>Send SMS</th>
      <td><a
        [href]="'sms:' + data.signup.mobile + '?body=Tillykke!%0D%0Adu har vundet i Bankdatas quiz. Kom og hent din præmie ved standen'">{{data.signup.mobile}}</a>
      </td>
    </tr>
    <tr>
      <th>Quiz</th>
      <td>{{data.signup.quizId}}</td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-flat-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
  <button mat-flat-button (click)="markContacted()" color="primary">
    Mark contacted
  </button>
</mat-dialog-actions>
