rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

  	function isSignedIn(){
    	return request.auth != null && request.auth.uid != null;
    }

    function isAdmin() {
      return isSignedIn() &&
        exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /signups/{signupId} {
      allow create: if isSignedIn() &&
        request.resource.data.uid == request.auth.uid &&
        request.resource.data.keys().hasAll(['name', 'email', 'mobile', 'signupTime', 'uid', 'quizId']);
      allow get,update,delete,list: if isAdmin();
    }

    match /admins/{userId} {
      allow read,write: if isAdmin();
    }
  }
}
