<ng-container *ngIf="questionService.isAllAnswersCorrect(); else wrongAnswers">
  <p>{{'special-pages.submit.correct.header.ALLCORR' | translate}}</p>
  <p>{{'special-pages.submit.correct.header.CONTACT' | translate}}</p>

  <form (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>{{'special-pages.submit.correct.form.email.label' | translate}}</mat-label>
      <input type="email" matInput [formControl]="emailControl"
             [placeholder]="'special-pages.submit.correct.form.email.placeholder' | translate"
             autocomplete="email">
      <mat-error *ngFor="let error of emailControl.errors | keyvalue"
                 [innerHTML]="getError(error, 'emailValidation') | async"
      ></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'special-pages.submit.correct.form.name.label' | translate}}</mat-label>
      <input type="text" matInput [formControl]="nameControl" autocomplete="name">
      <mat-error *ngFor="let error of nameControl.errors | keyvalue"
                 [innerHTML]="getError(error, 'nameValidation') | async"
      ></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'special-pages.submit.correct.form.mobile.label' | translate}}</mat-label>
      <input type="tel" matInput [formControl]="mobileControl" autocomplete="tel">
      <mat-error *ngFor="let error of mobileControl.errors | keyvalue"
                 [innerHTML]="getError(error, 'mobileValidation') | async"
      ></mat-error>
    </mat-form-field>

    <button mat-raised-button routerLink="../4" type="button">
      {{'special-pages.buttons.back' | translate}}
    </button>
    <button mat-raised-button>
      {{'special-pages.buttons.send_results' | translate}}
    </button>
  </form>
</ng-container>

<ng-template #wrongAnswers>
  <h3>{{questionService.correctAnswersAmount()}} / {{questionService.totalAnswersAmount()}} {{'special-pages.submit.incorrect.right-answers' | translate}}</h3>
  <p>{{'special-pages.submit.incorrect.you-answered-wrong' | translate}}</p>
  <p *ngFor="let answer of questionService.incorrectAnswers()">
    {{'special-pages.submit.incorrect.question' | translate}} {{answer.questionNumber}}
  </p>
  <button mat-raised-button (click)="startOver()">{{'special-pages.buttons.start_over' | translate}}</button>
</ng-template>
