mat-form-field {
  display: block;
  width: 100%;
  margin: 20px 0;
}

#buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#disclaimer{
  margin-top: 3em;
  font-style: italic;
  font-size: smaller;
}
