<ng-container *ngIf="questionService.isAllAnswersCorrect(); else wrongAnswers">
  <p>{{'special-pages.submit.correct.header.ALLCORR' | translate}}</p>
  <p>Udfyld dine kontaktoplysninger herunder, så kontakter vi dig hvis du udtrækkes.</p>

  <form (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>{{'special-pages.submit.correct.form.email.label' | translate}}</mat-label>
      <input type="email" matInput [formControl]="emailControl"
             [placeholder]="'special-pages.submit.correct.form.email.placeholder' | translate"
             autocomplete="email">
      <mat-error *ngFor="let error of emailControl.errors | keyvalue"
                 [innerHTML]="getError(error, 'emailValidation') | async"
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{'special-pages.submit.correct.form.name.label' | translate}}</mat-label>
      <input type="text" matInput [formControl]="nameControl" autocomplete="name">
      <mat-error *ngFor="let error of nameControl.errors | keyvalue"
                 [innerHTML]="getError(error, 'nameValidation') | async"
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{'special-pages.submit.correct.form.mobile.label' | translate}}</mat-label>
      <input type="tel" matInput [formControl]="mobileControl" autocomplete="tel">
      <mat-error *ngFor="let error of mobileControl.errors | keyvalue"
                 [innerHTML]="getError(error, 'mobileValidation') | async"
      ></mat-error>
    </mat-form-field>

    <button mat-raised-button routerLink="../4" type="button">
      Tilbage
    </button>
    <button mat-raised-button>
      Send resultater
    </button>
  </form>
</ng-container>

<ng-template #wrongAnswers>
  <h3>{{questionService.correctAnswersAmount()}} / {{questionService.totalAnswersAmount()}} rigtige.</h3>
  <p>Du svarede forkert på</p>
  <p *ngFor="let answer of questionService.incorrectAnswers()">
    Spørgsmål {{answer.questionNumber}}
  </p>
  <button mat-raised-button (click)="startOver()">Prøv igen</button>
</ng-template>
