<h1 mat-dialog-title>Set status or delete {{data.links.length}} signups(s)</h1>

<div mat-dialog-content>
  <button mat-button (click)="setStatus(null)">Clear status</button>
  <button mat-button (click)="setStatus('notified')">Mark notified</button>
  <button mat-button (click)="setStatus('redeemed')">Mark redeemed</button>

  <button mat-button (click)="deleteClick()" [color]="deleteColor">
    <mat-icon>delete</mat-icon>
  </button>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelClick()">Cancel</button>
</div>
