//router-outlet{
//  width: 100vw;
//  height: 100vh;
//}

div {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card {
    max-width: 500px;

    @media only screen and (max-device-width: 480px) {
      box-shadow: none;
      padding: 0;
      border-radius: 0;
    }
  }
}
