<h1 mat-dialog-title>Add new Admin</h1>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name of admin" [formControl]="nameControl">
  </mat-form-field>

  <mat-form-field>
    <mat-label>UID</mat-label>
    <input matInput placeholder="UID" [formControl]="uidControl">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelClick()" color="warn">Cancel</button>
  <button mat-button (click)="addAdmin()" [disabled]="form.invalid">Add</button>
</mat-dialog-actions>
