#table-container {
  margin: 20px;
}

.mat-column-status {
  max-width: 40px;
}

.mat-column-select {
  max-width: 30px;
}

.mat-column-signupTime {
  max-width: 80px;
}

#actions {
  display: flex;
  justify-content: space-around;
  justify-items: center;

  button {
    margin: 5px;
  }

  div {
    margin-left: 20px;
    padding-top: 15px;
    display: flex;
  }
}

.stats {
  margin-left: 20px;
}
