/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-table {
  margin: 20px;

  .mat-column-status {
    flex: 0 0 30px;
  }

  .mat-column-select {
    flex: 0 0 30px;
  }
}

#actions {
  display: flex;
  justify-content: space-around;
  justify-items: center;

  button {
    margin: 5px;
  }

  div {
    margin-left: 20px;
    padding-top: 15px;
    display: flex;
  }
}

.stats {
  margin-left: 20px;
}
