<app-admin-header>
  <div id="stats" *ngIf="lastSignup">
    Latest signup: {{lastSignup | localizedDate:'short'}}
  </div>
</app-admin-header>

<ng-template #spinner>
  <mat-progress-spinner diameter="50" mode="indeterminate"></mat-progress-spinner>
</ng-template>

<ng-container *ngIf="(signupService.isAdmin$ | async) != undefined; else spinner">

  <ng-container *ngIf="(signupService.isAdmin$ | async); else notAdmin">
    <div id="actions">
      <div>
        <button mat-raised-button (click)="startPick()" [disabled]="!canPick">Pick random
          <mat-icon>shuffle</mat-icon>
        </button>

        <button mat-raised-button (click)="editSelection()" [disabled]="selection.isEmpty()"
                [matBadge]="selection.selected.length" [matBadgeHidden]="selection.isEmpty()">
          Edit
          <mat-icon>edit</mat-icon>
        </button>
      </div>

      <div class="stats">
        <div>
          <span>Signups</span>
          <mat-icon [matBadge]="dataSource.data.length">ballot</mat-icon>
        </div>
        <div>
          Not picked
          <mat-icon [matBadge]="getSignupCount()">quiz</mat-icon>
        </div>
        <div>
          Notified
          <mat-icon [matBadge]="getSignupCount('notified')">done</mat-icon>
        </div>
        <div>
          Redeemed
          <mat-icon [matBadge]="getSignupCount('redeemed')">done_all</mat-icon>
        </div>
      </div>
    </div>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8"
               matSort
               matSortActive="signupTime"
               matSortDirection="asc"
    >

      <ng-container matColumnDef="signupTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header="signupTime">Signup time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.signupTime | localizedDate:'short'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef mat-sort-header="section">Mobile</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon *ngIf="!element.status">quiz</mat-icon>
          <mat-icon *ngIf="element.status === 'pulled'">shuffle</mat-icon>
          <mat-icon *ngIf="element.status === 'notified'">done</mat-icon>
          <mat-icon *ngIf="element.status === 'redeemed'">done_all</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        color="primary"
          >
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        color="primary"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
    </mat-table>
  </ng-container>

  <ng-template #notAdmin>
    <p>You are logged in with UID: {{auth.currentUser?.uid | json}}</p>
    <p>But are not currently allowed access, send this UID to some one who is to have them add you.</p>
  </ng-template>
</ng-container>
