<h1 mat-dialog-title>Set status or delete {{data.links.length}} signups(s)</h1>

<mat-dialog-content >
  <button mat-flat-button (click)="setStatus(null)" color="primary">Clear status</button>
  <button mat-flat-button (click)="setStatus('notified')" color="primary">Mark notified</button>
  <button mat-flat-button (click)="setStatus('redeemed')" color="primary">Mark redeemed</button>

  <button mat-flat-button (click)="deleteClick()" [color]="deleteColor">
    <mat-icon>delete</mat-icon>
  </button>
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-flat-button (click)="cancelClick()">Cancel</button>
</mat-dialog-actions>
